body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  background-color: #eeeeee;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: 30px auto;
  width: 450px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 15px #858585;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  font-size: 15px;
}

input {
  padding: 6px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  width: 220px;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #0069ff;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #0445a1;
}

.result {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  display: none;
}
